<div class="row">
  <div class="col-auto">
    <input type="text" class="form-control" placeholder="name" [(ngModel)]="searchText">
  </div>
  <div class="col-auto">
    <form class="form-inline">
      <div class="form-group hidden">
        <div class="input-group">
          <input name="datepicker"
                 class="form-control"
                 ngbDatepicker
                 #datepicker="ngbDatepicker"
                 [autoClose]="'outside'"
                 (dateSelect)="onDateSelection($event)"
                 [displayMonths]="2"
                 [dayTemplate]="t"
                 outsideDays="hidden"
                 [startDate]="fromDate">
          <ng-template #t let-date let-focused="focused">
            <span class="custom-day"
                  [class.focused]="focused"
                  [class.range]="isRange(date)"
                  [class.faded]="isHovered(date) || isInside(date)"
                  (mouseenter)="hoveredDate = date"
                  (mouseleave)="hoveredDate = null">
              {{ date.day }}
            </span>
          </ng-template>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <input #dpFromDate
                 class="form-control" placeholder="yyyy-mm-dd"
                 name="dpFromDate"
                 [value]="formatter.format(fromDate)"
                 (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="datepicker.toggle()" type="button">
              <i class="icon ion-ios-calendar"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="form-group ml-2">
        <div class="input-group">
          <input #dpToDate
                 class="form-control" placeholder="yyyy-mm-dd"
                 name="dpToDate"
                 [value]="formatter.format(toDate)"
                 (input)="toDate = validateInput(toDate, dpToDate.value)">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="datepicker.toggle()" type="button">
              <i class="icon ion-ios-calendar"></i>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-auto">
    <button type="button" class="btn btn-outline-primary" (click)="applyDateRange()">
      <i class="icon ion-ios-checkmark-circle-outline"></i> Apply
    </button>
  </div>
  <div class="col-auto">
    <button type="button" class="btn btn-outline-primary" (click)="reset()">
      <i class="icon ion-ios-refresh"></i> Reset
    </button>
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th class="text-center">Start</th>
            <th class="text-center">End</th>
            <th class="text-center">Status</th>
            <th class="text-center">Budget (MYR)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let event of displayedEvents | nameFilter: searchText">
            <td>{{ event.name }}</td>
            <td class="text-center">{{ event.startDate }}</td>
            <td class="text-center">{{ event.endDate }}</td>
            <td class="text-center" [ngClass]="{ 'bg-success': event.status == 'active', 'bg-danger': event.status == 'inactive' }">{{ event.status }}</td>
            <td class="text-center">{{ event.budget | currency:'MYR':'' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>